name: Build and Publish image to quay.io
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish_images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get latest MultiQC tag
        id: get_tag
        run: |
          TAG=$(curl  "https://api.github.com/repos/multiqc/multiqc/tags" | jq -r '.[0].name')
          echo "MULTIQC_VERSION=$TAG" >> $GITHUB_ENV

      - name: Get Plugin Version
        id: get_plugin_version
        run: |
          VERSION=$(grep "__version__" multiqc_cmgg/__init__.py | cut -d'"' -f2)
          echo "PLUGIN_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: quay.io/cmgg/multiqc_cmgg
          tags: |
            type=semver,pattern={{version}}
            type=ref,event=branch
            type=sha
            type=raw,value=${{ env.PLUGIN_VERSION }}-multiqc-${{ env.MULTIQC_VERSION }}
            type=raw,value=latest

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            MULTIQC_VERSION=${{ env.MULTIQC_VERSION }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
